@import url('https://fonts.cdnfonts.com/css/a-attack-graffiti');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background: linear-gradient(to right, #6f726f, #233137);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(170, 156, 156, 0.5);
    margin: 0;
    padding: 0;
    display: flex;    
    justify-content: center;
    align-items: center;
    
    
    
}

.imagem img {
    width: 49vw; /* Garante que a imagem ocupe toda a largura da div */
    height: 111% /* Permite que a altura seja ajustada automaticamente */
}

.login-box {
    width: 99vw; /* Largura de 100% para ocupar toda a largura do .container */
    height: 100vh;
    background-color: #070707;
    padding: 100px;
    border: 3px solid #f9f6f6;
    border-radius: 30px 0 0 30px;
    box-sizing: border-box ;
    margin-left:-10px;
    align-items: center;
    
    display: flex;
    flex-direction: column;
    
}


.image-box {
    width: 50%;
    height: 494px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.titulo {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.descricao {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.descricao-primaria {
    color: #fff;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.rotulo-input {
    position: relative;
    margin-bottom: 10px;
}

.rotulo-input i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ccc;
}

.rotulo-input input {
    width: 100%;
    padding: 12px 12px 12px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    text-align:left;
    align-items: center;
}

.btn {
    padding: 10px 150px;
    border: 10px;
    border-radius:  30px 30px 30px 30px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
}

.btn-primario {
    background-color: #58af9b;
}

.btn-secundario {
    background-color: #008CBA;
}

.lista-midias-sociais {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-midia-social {
    margin-right: 10px;
}

.midias-sociais {
    margin: 1rem 0;
}


.link-midia-social:not(:first-child){
    margin-left: 10px;
}


.link-midia-social .item-midia-social {
    transition: background-color .5s;
}

.link-midia-social:hover .item-midia-social{
    background-color: #58af9b;
    color: #fff;
    border-color: #58af9b;
}


.lista-midias-sociais {
    display: flex;
    list-style-type: none;
}


.item-midia-social {
    border: 1px solid #e5e6e6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #eaeff0;
    
}

.senha {
    color: #f3f9ff;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.senha::first-letter {
    text-transform: capitalize;
}