*{
    padding: 0px;
    margin: 0px;  
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;            
}



/* styles.css */

/* Estilização header/ h1 / nav */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background: url('/DADOS_PESSOAIS/img/image\ 3\ \(3\).svg') no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030303;
    color: white;
    border-radius: 0px 0px 20px 20px;
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0;
    width: 100%;
    height: 10%;
    padding: 5px;
    z-index: 10; /* Certifica-se de que o cabeçalho fique acima de outros conteúdos */
}

.cartContainer {
    display: flex;
    flex-direction: column;
    gap: rem;
    padding: 10px;    
    width: 100%;
    height: auto; /* Permite que a altura seja ajustada com base no conteúdo */
}

nav a {

color: white;
text-decoration: none;
padding: 6px;

}


.menu {
    display: none;
    position: absolute;
    top: 70px; /* Ajusta a posição abaixo do ícone */
    right: 10px;
    background-color: rgb(11, 11, 11);
    border: 1px solid #a2a1a1;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    
   
}

.menu a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fefefe;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.menu a:hover {
    background-color: #ececec;
    color: #000;
    
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-midias-sociais {
display: flex;
list-style: none;
padding: 0;
margin: 0;
}

.item-midia-social-header {
margin-right: 1px;
}

.midias-sociais-header {
margin: 1rem 0;
}


.link-midia-social-header:not(:first-child){
margin-left: 1px;
}


.link-midia-social-header .item-midia-social-header {
transition: background-color .5s;
}

.link-midia-social-header:hover .item-midia-social-header{
background-color: #abc2bc;
color: #fff;
border-color: #abc2bc;
}


.lista-midias-sociais-header {
display: flex;
list-style-type: none;
}


.item-midia-social-header {
border: 1px solid #e5e6e6;
border-radius: 50%;
width: 35px;
height: 35px;
line-height: 35px;
text-align: center;
color: #eaeff0;

}

/* fim da estilização header */


/* Inicio da estilização da main */

nav button {
background-color: #fff;
border: none;
color: #333;
font-size: 1.2rem;
padding: 0.5rem;
cursor: pointer;
}

main {
display: flex;
justify-content: space-between;
padding: 6rem;
}

section {
flex: 2;
}

section h2 {
font-size: 2rem;
margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #5b6265;
    outline: none;
}

.payment-info {
    display: none;
}

.payment-info.active {
    display: block;
}

#payment-form {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.btn-calculate-frete {
    padding: 10px 20px;
    background-color: #5b6265;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-calculate-frete:hover {
    background-color: #5b6265;
}

.btn-finalizar, .btn-add-itens {
    background-color: #5b6265;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    margin: 10px;
    width: 100%;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-control button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
}

.quantity-control input {
    width: 40px;
    text-align: center;
    border: none;
    background: none;
}




.card {
display: flex;
justify-content:space-between;
padding: 1rem;
align-items: center;
background-color: #f1f1f1;
border: 1px solid #ddd;
border-radius: 20px 20px 20px 20px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);    
margin: 10px;   
transition: transform 0.3s ease-in-out;
}
/*
/*.card img {
    width: 30%;
    height: AUTO; /* Defina a altura que desejar */
   /* object-fit: cover; /* Isso garante que a imagem se encaixe no contêiner sem distorção */
/*
*/
.card:hover {
transform: scale(1.05);
}    

.card-descricao {
display: flex;
flex-direction: column;
color: #666;
font-size: 14px;
margin-bottom: 9px;
}

.card-tamanho, .card-quantidade, .card-preco {
    font-size: 1em;
    margin-bottom: 5px;
    
}

.removeButton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.removeButton:hover {
    background-color: #c0392b;
}

.contador {
display: flex;
flex-direction: row;
align-items: end;
width: fit-content;
border: 1px  #ccc;
padding: 15px;
gap: 5px;

}



.delete-button {
background-color: transparent;
border: none;
cursor:pointer ;
display: flex;
flex-direction: row;
align-items: center;
position:absolute;
top: 10px;
right: 10px;
width: 20px;
height: 10px;
background: none;
color: red;

}





aside {
display: flex;
flex-direction: column;    
flex: 1;
margin-left: 60px;
align-items: center;
}

.h2{
padding: 5px;
margin: 5px;
margin-bottom: 25px;
}

.sumario {
max-width: 300px;
margin: 55px auto;
padding: 20px;
border: 1px solid #ddd;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-bottom: 30px;
background-color: #f9f9f9;
}

.btn-finalizar,.btn-add-itens {
background-color: #5b6265;
color: #fff;
border:none;
padding: 5px 10px ;
font-size: 15px;
cursor: pointer;
border-radius:  30px 30px 30px 30px;
margin: 10px;
width: 300px;
}

.order-details {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.order-details span:first-child {
font-weight: bold;
}


.fim    {
background-color: #5b6265;
display: flex;
align-items: center;
justify-content:space-around;
flex-direction: row;
}


footer {
    /* Posicionamento e estilo do rodapé */
    background-color: transparent;
    color: #fff;
    padding: 2rem ;
    display: flex;
    justify-content: space-evenly;
    position: relative; /* Posiciona o rodapé em relação ao seu container */
    bottom: 0; /* Posiciona o rodapé na parte inferior da página */
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
    z-index: 1; /* Garante que o rodapé fique acima do conteúdo */
}

.lista-midias-sociais {
display: flex;
list-style: none;
padding: 0;
margin: 0;
}

.item-midia-social {
margin-right: 1px;
}

.midias-sociais {
margin: 1rem 0;
}

.link-midia-social:not(:first-child){
margin-left: 10px;
}

.link-midia-social .item-midia-social {
    transition: background-color .5s;
}

.link-midia-social:hover .item-midia-social {
    background-color: #abc2bc;
    color: #fff;
    border-color: #abc2bc;
}


.lista-midias-sociais {
    display: flex;
    list-style-type: none;
}


.item-midia-social {
       /* Estilo dos itens da lista de mídias sociais */
       border: 1px solid #e5e6e6;
       border-radius: 50%;
       width: 35px;
       height: 35px;
       line-height: 35px;
       text-align: center;
       color: #eaeff0;
   
}


/* Media queries para responsividade */
@media (max-width: 1024px) {
    .containerProdutos {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas em telas menores */
        grid-gap: 20px;
    }
}

@media (max-width: 768px) { 
    .containerProdutos {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas em telas menores */
        grid-gap: 10px;
    }

    .produtos img {
        max-height: 150px;
    }

    .produtos .botaoSkatesComprar {
        padding: 8px 15px; /* Reduz o padding do botão */
    }
}

@media (max-width: 480px) {
    .containerProdutos {
        grid-template-columns: 1fr; /* Empilha os cartões verticalmente */
    }

    .produtos {
        width: 100%; /* Ajusta a largura do cartão para ocupar todo o espaço disponível */
    }
}



.ordersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ordersTable th, .ordersTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.ordersTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.ordersTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.ordersTable tr:hover {
    background-color: #ddd;
}
