
@import url('https://fonts.cdnfonts.com/css/a-attack-graffiti');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

                

                                                        
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030303;
    color: white;
    border-radius: 0px 0px 20px 20px;
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0;
    width: 100%;
    height: 10%;
    padding: 5px;
    z-index: 10; /* Certifica-se de que o cabeçalho fique acima de outros conteúdos */
}

nav a {
    color: white;
    text-decoration: none;  
    
    }

.logo{
     
    margin-right: 2px;
    padding: 12px;
     
    
}
.menu {
    display: none;
    position: absolute;
    top: 70px; /* Ajusta a posição abaixo do ícone */
    right: 10px;
    background-color: rgb(11, 11, 11);
    border: 1px solid #a2a1a1;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
}

.menu a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fefefe;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.menu a:hover {
    background-color: #ececec;
    color: #000;
    
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-midias-sociais {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-midia-social-header {
    margin-right: 1px;
}

.midias-sociais-header {
    margin: 1rem 0;
}


.link-midia-social-header:not(:first-child){
    margin-left: 2px;
}


.link-midia-social-header .item-midia-social-header {
    transition: background-color .5s;
}

.link-midia-social-header:hover .item-midia-social-header{
    background-color: #abc2bc;
    color: #fff;
    border-color: #abc2bc;
}


.lista-midias-sociais-header {
    display: flex;
    list-style-type: none;
}


.item-midia-social-header {
    border: 1px solid #e5e6e6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #eaeff0;
    
}

h1 {
   
    padding: 5px;
}

nav a {
    
    color: white;
    text-decoration: none;
    padding: 4px;
    
}

main{
    background-repeat: no-repeat;    
    padding-top: 50px; 
    height: 10%;  

}



.imagem-principal img {
    background: url(../img/rua_sp_skt.png) no-repeat;
    display: block;
    background-size: 100%; /* Ajusta a imagem para cobrir todo o elemento */
    /* Centraliza a imagem no elemento */
    height: 150vh; /* Altura desejada para o contêiner */
    width: 100%;
    
    
}

.texto-sobre-imagem {
    position: absolute; /* Define o posicionamento absoluto para o texto */
    top: 50%; /* Define a distância do topo */
    left: 21%; /* Define a distância da esquerda */
    transform: translate(-50%, -50%); /* Centraliza o texto horizontal e verticalmente */
    color: white; /* Cor do texto */
    font-size: 40px; /* Tamanho da fonte */
    font-family: 'Montserrat', sans-serif; /* Fonte moderna e destacada */
    font-weight: bold; /* Peso da fonte */
    padding: 1px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), /* Sombra escura para profundidade */
                 0 0 10px rgba(255, 255, 255, 0.9); /* Efeito de luz mais suave */
    letter-spacing: 1px; /* Espaçamento entre as letras */
    }
    
    


#container {  
       
    display: flex;
    justify-content: space-between;
    margin: 0 10px; /* Ajuste as margens conforme necessário */
    text-align: center; /* Centraliza o conteúdo dentro do card */
    padding: 1%;
    
}

.card {  
    margin: 0 10px; /* Ajusta as margens conforme necessário */
    text-align: center; /* Centraliza o conteúdo dentro do card */
    display: inline-block; /* Permite que o contêiner se ajuste ao tamanho do conteúdo interno */   
    align-items: center;  
    position: relative;    
    width: calc(33.33% - 20px); /* 33.33% da largura da tela com um espaço de 20px entre os cartões */
    overflow: hidden; /* Para garantir que as imagens não ultrapassem os limites do cartão */
}


.card img {
    border-radius: 10px; /* Define o raio de curvatura das bordas das imagens */
    width: 90%;
    height: 90%; /* Para preencher completamente o espaço do cartão */
    object-fit: cover; /* Para preencher o espaço do cartão sem distorcer a imagem */
}

.label {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color:transparent;
    padding: 0.5rem;
    border: 3px solid #fff;
    border-radius: 10px;
    border-color: white;    
    
    font-family: sans-serif;
    color: white;
    translate: -20px;
    opacity: 0.9; /* Define a opacidade do botão */
    width: 100px; /* Define a largura do botão */
    height: 50px; /* Define a altura do botão */
    transition: transform 0.1s ease-in-out; /* Adiciona uma transição suave ao efeito */
  }
  
  .label:active {
    transform: scale(1.2); /* Aumenta o tamanho do botão ao ser clicado */
  }

  .lancamento .titulo {
    position: relative; /* Define posicionamento relativo */
}

  .lancamento .titulo{
    font-size: 22px;
    text-align: center;
    position: relative;
    font-family:fantasy;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.lancamento .titulo::before {
    background: rgb(0, 0, 0);
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 13px;
    z-index: -1;
}
.texto-lacamento {
    position: relative; /* Define posicionamento relativo */
    background: white; /* Define o fundo branco para a palavra "Lançamentos" */
    padding: 0 10px; /* Adiciona um pouco de espaço ao redor da palavra */
}

.lancamento {
    border: 0;
    margin: 0;
    padding: 0;
}

.tenis-classico_item_produto {
    display: flex;
}

.tenis-classico_item_produto a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px; /* Espaçamento entre os itens */
}

.tenis-classico_item_item_nome {
    margin-top: 10px;
}




.tenis-classico_item__item__product img {
    width: 100%;
    height: auto;
    object-fit: contain;
    
}

.tenis-classico_item_item_nome{

    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    line-height: 20px;
}



.rodape {
    background-image: url(/TELA_PRINCIPAL/img/bg-newletter-acceptbox.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 6em 0;
    align-items: center;
    text-align: center;
    color: #FFF;
}
.rodape h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}   


.secao-rodape {
    display: flex;    
    justify-content: center;
    margin: 10px;
    display: flex;    
    align-items: center;
    gap:2px;
    
}


.secao-rodape input{
    width: 260px;
    height: 30px;
    border-radius: 1px;
    background-color: #fff;
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 20px;
    border: 0;
    margin-right: 15px;
}

.checkbox{
    color: #FFF;
    margin-left: 17px;
}

.checkbox input {
    width: 13px; 
    height: 14px;
    background: #D9D9D9;
   
}

.secao-rodape button {
    width: 150px;
    height: 41px;
    border-radius: 1px;
    background-color: #989292;
    border: 1px solid #333;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: .3s;
}




.secao-lt{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.secao-lt2{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.secao-rodape form {
    display: flex;
    flex-direction: column;
}

.fim    {
    background-color: #5b6265;
}

footer {
    background-color: transparent;
    color: #fff;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.lista-midias-sociais {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-midia-social {
    margin-right: 10px;
}

.midias-sociais {
    margin: 1rem 0;
}


.link-midia-social:not(:first-child){
    margin-left: 10px;
}


.link-midia-social .item-midia-social {
    transition: background-color .5s;
}

.link-midia-social:hover .item-midia-social{
    background-color: #abc2bc;
    color: #fff;
    border-color: #abc2bc;
}


.lista-midias-sociais {
    display: flex;
    list-style-type: none;
}


.item-midia-social {
    border: 1px solid #e5e6e6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #eaeff0;
    
}




footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.footer-section {
	display: inline-block;
	vertical-align: top;
	width: 24%;
	border-left:solid 3px #ccc;
    flex-basis: 15%
}

footer footer .footer-section:last-child {
	margin-right: 0;
}

.footer-section h2 {
    text-decoration: underline;
}

footer hr {
	border: none;
	border-top: 1px solid #fff;
	margin: 10px 0;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer li {
	margin: 0 0 5px 0;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer form {
	margin-top: 10px;
}

footer input[type="email"] {
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
}

footer button[type="submit"] {
	background-color: #fff;
	border: none;
	border-radius: 5px;
	color: #333;
	padding: 5px;
	width: 100%;
}

footer button[type="submit"]:hover {
	background-color: #ccc;
}

.context-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.context-column {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    padding: 10px;  
    text-align:start ;  

   
    
    
  }
  
  .context-item {
    margin: 5px 6;
   
    
  }

  
