* {
    padding: 0px;
    margin: 0px;  
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;            
}
.hidden {
    display: flex;
    justify-content: center;
    
}

/* Estilos do header */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background: url('/DADOS_PESSOAIS/img/image\ 3\ \(3\).svg') no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 6px;
}

.midias-sociais-header {
    margin: 1rem 0;
}

.lista-midias-sociais-header {
    display: flex;
    list-style-type: none;
}

.item-midia-social-header {
    border: 1px solid #e5e6e6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #eaeff0;
    margin-right: 1px;
}

.link-midia-social-header:not(:first-child){
    margin-left: 1px;
}

.link-midia-social-header:hover .item-midia-social-header {
    background-color: #abc2bc;
    color: #fff;
    border-color: #abc2bc;
}

/* Estilos da main */
main {
    display: flex;
    flex-direction: column;
    padding: 6rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto; /* Permite que a altura seja ajustada com base no conteúdo */
}

.card-container {
    display: flex;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
}

/* Estilos para o upload de imagem */
.upload-container {
    margin-bottom: 10px;
}

.upload-container label {
    display: block;
    margin-bottom: 5px;
}

.upload-container input[type="file"],
.upload-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.upload-container input[type="file"]:focus,
.upload-container input[type="text"]:focus {
    outline: none;
    border-color: #555;
}

/* Modal de edição */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
    
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Aumentar a largura dos campos de entrada no modal */
.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="url"] {
    width: 100%; /* Ajusta a largura para 100% do container */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.modal-content button[type="submit"] {
    width: 100%; /* Ajusta a largura para 100% do container */
    padding: 12px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.modal-content button[type="submit"]:hover {
    background-color: #555;
}


form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.form-selector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-selector button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
}

.form-selector button:hover {
    background-color: #555;
}

.upload-container {
    margin-bottom: 10px;
}

.upload-container label {
    display: block;
    margin-bottom: 5px;
}

.upload-container input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.upload-container input[type="file"]:focus {
    outline: none;
    border-color: #555;
}

/* Estilos para o formulário de cadastro */
#formCadastro {
    align-items: center;
    gap: 10px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#formCadastro label {
    font-weight: bold;
}

#formCadastro input[type="text"],
#formCadastro input[type="number"],
#formCadastro input[type="url"],
#formCadastro input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#formCadastro input[type="file"] {
    padding: 8px;
    font-size: 14px;
}

#formCadastro button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#formCadastro button[type="submit"]:hover {
    background-color: #555;
}

/* Estilos para os botões */
.card button {
    
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}





.card {
    
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 10px;
    margin: 10px;
    align-items: center;  
    
   
}


.card .botoes-container {
    margin-top: 8px; /* Espaçamento entre a descrição/valor e os botões */
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

.card .botoes-container button {
    /* Estilos dos botões */
    padding: 5px 10px;
    background-color: #424343;
    color: white;
    border: none;
    cursor: pointer;
}

.card .botoes-container button:hover {
    background-color: #b9babb;
}

.card-content {
    padding: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    
    margin-bottom: 5px;
}

p{
    font-size: 15px;
    margin: 10px;
}


.btn-container {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
    margin-bottom: 20px; /* Espaçamento abaixo dos botões */
}

.btn-container button {
    padding: 10px 20px;
    background-color: #424343;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-container button:hover {
    background-color: #bbbdbe;
}



.button {
    background-color:  #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}

.button:hover {
    background-color: #e0e0e0;
}

/* Estilos do footer */
footer {
    background-color: #5b6265 ;
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.midias-sociais {
    margin: 1rem 0;
}

.lista-midias-sociais {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item-midia-social {
    border: 1px solid #e5e6e6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #eaeff0;
    margin-right: 1px;
}

.link-midia-social:not(:first-child) {
    margin-left: 10px;
}

.link-midia-social:hover .item-midia-social {
    background-color: #abc2bc;
    color: #fff;
    border-color: #abc2bc;}


.lista-midias-sociais {
    display: flex;
    list-style-type: none;
}


.item-midia-social {
       /* Estilo dos itens da lista de mídias sociais */
       border: 1px solid #e5e6e6;
       border-radius: 50%;
       width: 35px;
       height: 35px;
       line-height: 35px;
       text-align: center;
       color: #eaeff0;
   
}


/* Media queries para responsividade */
@media (max-width: 1024px) {
    .containerProdutos {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas em telas menores */
        grid-gap: 20px;
    }
}

@media (max-width: 768px) { 
    .containerProdutos {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas em telas menores */
        grid-gap: 10px;
    }

    .produtos img {
        max-height: 150px;
    }

    .produtos .botaoSkatesComprar {
        padding: 8px 15px; /* Reduz o padding do botão */
    }
}

@media (max-width: 480px) {
    .containerProdutos {
        grid-template-columns: 1fr; /* Empilha os cartões verticalmente */
    }

    .produtos {
        width: 100%; /* Ajusta a largura do cartão para ocupar todo o espaço disponível */
    }
}