/* styles.css */

* {
padding: 0;
margin: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}


body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030303;
    color: white;
    border-radius: 0px 0px 20px 20px;
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0;
    width: 100%;
    height: 10%;
    padding: 5px;
    z-index: 10; /* Certifica-se de que o cabeçalho fique acima de outros conteúdos */
}

nav a {
color: white;
text-decoration: none;
padding: 4px;
}

.lista-midias-sociais {
display: flex;
list-style: none;
padding: 0;
margin: 0;
}

.item-midia-social-header {
margin-right: 1px;
}

.midias-sociais-header {
margin: 1rem 0;
}

.link-midia-social-header:not(:first-child) {
margin-left: 1px;
}

.link-midia-social-header .item-midia-social-header {
transition: background-color .5s;
}

.link-midia-social-header:hover .item-midia-social-header {
background-color: #abc2bc;
color: #fff;
border-color: #abc2bc;
}

.lista-midias-sociais-header {
display: flex;
list-style-type: none;
}

.item-midia-social-header {
border: 1px solid #e5e6e6;
border-radius: 50%;
width: 35px;
height: 35px;
line-height: 35px;
text-align: center;
color: #eaeff0;
}

nav button {
background-color: #fff;
border: none;
color: #333;
font-size: 1.2rem;
padding: 0.5rem;
cursor: pointer;
}

/*Inicio da configuração da MAIN */

main {
padding: 15px;
margin: 10px;
align-items: center;
height: 100%;

}

.container {
display: flex;
align-items: center;
width: 50%;
border: 1px solid #ccc;
border-radius: 10px;
overflow: hidden;
margin: 10px;
background-color: #f0f0f0;
}

.pedido {
display: flex;
flex-direction: column;
gap: 10px;
}

.card {
width: 100%;
margin: 10px;
padding: 10px;
border: 1px soid #ccc;
border-radius: 40px 40px 40px 40px;
overflow: hidden;
gap: 20px   ;
}

.background {
display: flex;
flex-direction: column;
justify-content: start;
gap: 10px;
width: 100%;
background-color: #f0f0f0;
padding: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
text-align: center;
border-radius: 40px 40px 40px 40px;
border-radius: 20px;
text-align: start;

}

.background h2 {
    font-size: 14px;
    color: #333;
}

.ul{
display: flex;

}



.pedido h3,.pedido p {
margin: 5px 0;
}

.card-title {
font-size: 12px;
color: #333;
margin-bottom: 5px;
margin: 10px;
padding: 5px;

}

.card-descricao {
display: flex;
flex-direction: column  ;
font-size: 10px;
color: #666;
margin-bottom: 10px;
}


.pedido li {
list-style: none;
text-align: center;
}

.card-image {
width: 120px;
/* Ajuste o tamanho conforme necessário */
height: auto;
/* Para manter a proporção */
}





.fim    {
    background-color: #5b6265;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    }
    
    
    footer {
    background-color: transparent;
    color: #fff;
    padding: 0rem 0;
    display: flex;
    justify-content: space-evenly;
    }
    
    .lista-midias-sociais {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .item-midia-social {
    margin-right: 1px;
    }
    
    .midias-sociais {
    margin: 1rem 0;
    }
    
    .link-midia-social:not(:first-child){
    margin-left: 10px;
    }
    
    .link-midia-social .item-midia-social {
        transition: background-color .5s;
    }
    
    .link-midia-social:hover .item-midia-social {
        background-color: #abc2bc;
        color: #fff;
        border-color: #abc2bc;
    }
    
    
    .lista-midias-sociais {
        display: flex;
        list-style-type: none;
    }
    
    
    .item-midia-social {
        border: 1px solid #e5e6e6;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #eaeff0;
    
    }

    .aside {
        position: absolute;
        top: 130px;
        right: 0;
        padding: 20px;
        margin: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f1f1f1;
    }

    .user {
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
        background-color: #f1f1f1;
    }

    .order-details {
        display: flex;
        align-items: center;
    }

    .order-details i {
        margin-right: 10px;
    }

    .order-details ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .order-details p {
        margin: 0;
        font-weight: bold;
    }

    .order-details li {
        color: #555;
    }