*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #090a0a;
    font-family: Arial, sans-serif;
    padding: 9px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(124, 121, 121, 0.5);      
    margin: 0;
    padding: 0;
    display: flex;    
    justify-content: center;
    align-items: center;
    
}


.imagem img {
    width: 120vh; /* Garante que a imagem ocupe toda a largura da div */
    height: 43vw /* Permite que a altura seja ajustada automaticamente */
}



.login-box {
    
    width: 99vw; /* Largura de 100% para ocupar toda a largura do .container */
    height: 100vh;
    background-color: #f0ecec;
    padding: 50px;
    border: 3px solid #0f0e0e;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box ;
    margin-left:-11px;
    
    
}


.image-box {
    width: 50%;
    height: 494px;
    background-color: #f3f3f3;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#newAdminFields {
    margin-top: 20px;
}

#newAdminBtn {
    margin-top: 20px;
    display: block;
}


#error-message, #success-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

.titulo {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.descricao {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.descricao-secundaria {
    color: #0a0a0a;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    
}



.rotulo-input {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotulo-input i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ccc;
    
    
}

.rotulo-input input {
    width: 100%;
    padding: 12px 12px 12px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    text-align:left;
    align-items: center;
}

.btn-secundario {
    padding: 10px 287px;
    border: 10px;
    border-radius:  30px 30px 30px 30px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
}

.btn-primario {
    background-color: #000000;
}

.btn-secundario {
    background-color: #000000;
}

.lista-midias-sociais {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}



.midias-sociais {
    margin: 1rem 0;
}


.link-midia-social:not(:first-child){
    margin-left: 10px;
}


.link-midia-social .item-midia-social {
    transition: background-color .5s;
}

.link-midia-social:hover .item-midia-social{
    background-color: #525655;
    color: #d8d0d0;
    border-color: #525655;
}


.lista-midias-sociais {
    display: flex;
    list-style-type: none;
}


.item-midia-social {
    border: 1px solid #090a0a;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #0d0d0e;
    margin-right: 10px;
    
}


.senha {
    color: #f3f9ff;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.senha::first-letter {
    text-transform: capitalize;
}



.lista,.titulo {
    margin-bottom: 3px;
    font-size: 1px;
}


.item-lista {
    font-size: 10px; 
    display: flex; 
    align-items: center; 
}





.formulario-registro__termos-de-uso,
.formulario-registro__manter-conectado,
.formulario-registro__newsletter {
    margin-bottom: 10px;
}

.conteudo {
    font-size: 0.9rem;
    margin-left: 2px;
}


.titulo {
    font-size: 1.0rem;
    color: #333;
    margin-bottom: 7px;
}

.lista {
    list-style: none;
    padding-left: 0;
}

.item-lista {
    margin-bottom: 1px;
}

.descricao {
    font-size: 0.6rem;
    color: #666;
}

.verificar-aceite {
    display: inline-block;
}

.seletor-verificado-wrapper {
    position: relative;
    vertical-align: middle;
}

.seletor-verificado {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid #0a0909;
    border-radius: 2px;
}


/* Ajuste para o link "Termos de uso" */
.detalhes {
    color: #008CBA;
    text-decoration: none;
    margin-left: 5px;
}

.detalhes:hover {
    text-decoration: underline;
}


