* {
    padding: 0px;
    margin: 0px;  
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;            
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background: url('/DADOS_PESSOAIS/img/image\ 3\ \(3\).svg') no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    border-radius: 0px 0px 20px 20px;
    position: unset;
    width: 100%;
    padding: 0;
    margin: 0;

}

nav a {
    color: white;
    text-decoration: none;  
    padding: 6px;
    margin: 4px;
    }

    .formulario{gap:40px;}

    .logo{
     
        margin-right: 2px;
        padding: 12px;
           
    }



.lista-midias-sociais {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-midia-social-header {
    margin-right: 1px;
}

.midias-sociais-header {
    margin: 1rem 0;
}


.link-midia-social-header:not(:first-child){
    margin-left: 2px;
}


.link-midia-social-header .item-midia-social-header {
    transition: background-color .5s;
}

.link-midia-social-header:hover .item-midia-social-header{
    background-color: #abc2bc;
    color: #fff;
    border-color: #abc2bc;
}


.lista-midias-sociais-header {
    display: flex;
    list-style-type: none;
}


.item-midia-social-header {
    border: 1px solid #e5e6e6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #eaeff0;
    
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 0 0 48%;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 50px  auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 10px;
    border-radius: 20px 20px 20px 20px;
    padding: 0px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

button[type="submit"] {
    background-color: #5b6265;
    display: block;
    width: 50%;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #b1b8bb;
}

input:focus {
    border-color: #555;
}



.user {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;    
    width: calc(40% - 5px);
    margin: 40px;
    padding: 20px;
    background-color: #f1f1f1;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}



.fim    {
    background-color: #5b6265;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    }
    
    
    footer {
    background-color: transparent;
    color: #fff;
    padding: 0rem 0;
    display: flex;
    justify-content: space-evenly;
    }
    
    .lista-midias-sociais {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .item-midia-social {
    margin-right: 1px;
    }
    
    .midias-sociais {
    margin: 1rem 0;
    }
    
    .link-midia-social:not(:first-child){
    margin-left: 10px;
    }
    
    .link-midia-social .item-midia-social {
        transition: background-color .5s;
    }
    
    .link-midia-social:hover .item-midia-social {
        background-color: #abc2bc;
        color: #fff;
        border-color: #abc2bc;
    }
    
    
    .lista-midias-sociais {
        display: flex;
        list-style-type: none;
    }
    
    
    .item-midia-social {
        border: 1px solid #e5e6e6;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #eaeff0;
    
    }

    .aside {
        position: absolute;
        top: 130px;
        right: 0;
        padding: 20px;
        margin: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f1f1f1;
    }

  

    .order-details {
        display: flex;
        align-items: center;
    }

    .order-details i {
        margin-right: 10px;
    }

    .order-details ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .order-details p {
        margin: 0;
        font-weight: bold;
    }

    .order-details li {
        color: #555;
    }